*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 main{
  background-image: url(./images/bg-pattern-bottom-desktop.svg);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
 }
nav{
  width: 100%;
   background-color: white;
   padding: 10px;
} 
.nav-bar{
  margin: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  width: 20%;
   display: flex;
   justify-content:space-between;
}
.nav-links a{
   text-decoration: none;
   font-size: 16px;
   color: hsl(238, 22%, 44%);
   font-family: "Raleway", sans-serif;
   font-weight: 700px;
}
.nav-links .fa-bars{
  display: none;
 }
.section-one{
  width: 100%;
  background-image: url(./images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.section-one-content{
  padding: 130px 0px 0px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.first-left-content h1{
  color: #511f50;
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: bold;
}
.first-left-content p{
  color: #511f50;
  font-size: 18px;
  line-height: 1.5;
}
.first-right-content{
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: #511f50; 
}
.rating-1{
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f2f8;
  margin-bottom: 25px;
  padding: 20px 15px;
  border-radius: 10px;
  margin-right: 70px;
}
.rating-2{
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f2f8;
  margin-bottom: 25px;
  margin-left: 40px;
  padding: 20px 15px;
  border-radius: 10px;
}
.rating-3{
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f2f8;
  margin-left: 150px;
  padding: 20px 15px;
  border-radius: 10px;
}
.rating-image img{
  margin-left: 5px;
}
.first-right-content p{
  margin-right: 20px;
}

.section-two{
  
  padding-top: 60px;
  padding-bottom: 60px;

 }
 .section-two-content{
  display: flex;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 150px;
 }
 .card{
  background-color: #511f50;
  width: 300px;
  height: 180px;
  padding: 30px 20px;
  border-radius: 8px;
 }
 .card ul{
  list-style-type: none;
  margin-left: 10px;
 }
 .card-up{
  display: flex;
  align-items: center;
 }
 .card img{
  border-radius: 50%;
  width: 50px;
 }
.name{
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-bottom: 3px;
}
.post{
  color: rgb(134, 126, 126);
  font-size: 15px;
}
.card p{
  color: #f7f2f8;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  margin-top: 10px;
}
.rating-card-2{
  margin-top: 20px;
}
.rating-card-3{
  margin-top: 40px;
}




.footer{
  background-color: hsl(243, 87%, 12%);
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .footer-image{
  margin-left: 70px;
  margin-bottom: 20px;
 }
 .footer-content{
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
 }
 .footer-content ul{
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: white;
 }
 .footer-content li{
  margin-bottom: 10px;
 }
 .footer-content a{
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
 }
.footer-content-one img{
  margin-right: 20px;
} 
.footer-content-four{
  width: 20%;
}
.footer-content-four ul{
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer-content-four li{
  margin-right: 20px;
}































@media (max-width: 576px){

  body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
   }

   nav{
     width: 100%;
      background-color: white;
      padding: 5px;
   } 
   .nav-bar{
     margin: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
   .nav-bar img{
     width: 80px;
   }
   .nav-links{
     width: 50%;
      display: flex;
      justify-content:space-between;
   }
   .nav-links a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700px;
 }
 .nav-links .fa-bars{
   display: flex;
   margin-right: 20px;
   justify-content: space-evenly;
   align-items: center;
   cursor: pointer;
 }
 .show a{
   color:hsl(238, 22%, 44%);
   width: 100%;
   text-align: center;
 }
 .show a:hover{
   background-color: hsl(238, 22%, 44%);
   color: white;
 }
 .show{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   left: 0;
   right: 0;
   top: 70px;
   width: 100%;
   height: 100px;
   background-color: white;
 }
   main{
    background-image: none;
   }
   
   .section-one{
    width: 100%;
    background-image: url(./images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    margin-left: -100px;
  }
  .section-one-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
  .first-left-content h1{
    color: #511f50;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
  }
  .first-left-content p{
    color: #511f50;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 80px;
  }
  .first-right-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #511f50;
    width: 100%;
    margin-top: 0px;
  }


  .rating-1{
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #f7f2f8;
    margin-bottom: 25px;
    padding: 20px 15px;
    border-radius: 10px;
    margin-right: 0px;
  }
  .rating-2{
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #f7f2f8;
    margin-bottom: 25px;
    margin-left: 0px;
    padding: 20px 15px;
    border-radius: 10px;
  }
  .rating-3{
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #f7f2f8;
    margin-left: 0px;
    padding: 20px 15px;
    border-radius: 10px;
  }
  .rating-image img{
    margin-left: 5px;
  }
  .first-right-content p{
    margin-right: 20px;
  }

  .section-two{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  
   }
   .section-two-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
   }






   .footer{
     background-color: hsl(243, 87%, 12%);
     width: 100%;
     padding-top: 60px;
     padding-bottom: 60px;
    }
    .footer-image{
     margin-left: 30px;
     margin-bottom: 20px;
    }
    .footer-content{
     margin-left: 30px;
     margin-right: 30px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
    }
    .footer-content ul{
     list-style-type: none;
     font-size: 14px;
     font-weight: 400;
     font-family: "Open Sans", sans-serif;
     color: white;
    }
    .footer-content li{
     margin-bottom: 20px;
    }
    .footer-content a{
     font-size: 14px;
     font-weight: 400;
     color: white;
     text-decoration: none;
     font-family: "Raleway", sans-serif;
    }
    .footer-content-one{
     margin-top: 20px;
     margin-bottom: 20px;
    }
    .footer-content-two{
     margin-bottom: 20px;
    }
    .footer-content-three{
     margin-bottom: 20px;
    }
   .footer-content-one img{
     margin-right: 20px;
   } 
   .footer-content-four{
     width: 100%;
     margin-top: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .footer-content-four ul{
     display: flex;
     justify-content: left;
     align-items: center;
   }
   .footer-content-four li{
     margin-right: 20px;
   }
}