*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
nav{
  width: 100%;
   background-color: white;
   padding: 10px;
} 
.nav-bar{
  margin: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  width: 20%;
   display: flex;
   justify-content:space-between;
}
.nav-links a{
   text-decoration: none;
   font-size: 16px;
   color: hsl(238, 22%, 44%);
   font-family: "Raleway", sans-serif;
   font-weight: 700px;
}
.nav-links .fa-bars{
  display: none;
 }
section{
  max-width: 100%;
  width: 50%;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  padding: 0px 160px;
}
.learn{
  color: #fff;
  padding-right: 30px;
}
.learn h1{
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 25px;
}
.learn p{
  line-height: 26px;
  opacity: 0.9;
  font-size: 16px;
}
.head{
  width: 90%;
  background-color: hsl(248, 32%, 49%);
  color: #efefef;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-right: 30px;
}
.head span{
  color: #fff;
  font-weight: 600;
}
#form{
  width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  border-radius: 8px;
}
form div{
  display: flex;
  flex-direction: column;
}
input, button{
  padding: 17px 25px;
  font-weight: 600;
  margin-bottom: 18px;
  border: 1px solid #efefef;
  border-radius: 8px;
}
button{
  text-transform: uppercase;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  font-size: 16px;
}
form p{
  font-size: 10px;
  color: hsl(246, 25%, 77%);
  margin: auto;
}
form p span{
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
input:focus,
button:focus{
  outline: none;
}
button:hover{
  opacity: 0.8;
}





.footer{
  background-color: hsl(243, 87%, 12%);
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .footer-image{
  margin-left: 70px;
  margin-bottom: 20px;
 }
 .footer-content{
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
 }
 .footer-content ul{
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: white;
 }
 .footer-content li{
  margin-bottom: 10px;
 }
 .footer-content a{
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
 }
.footer-content-one img{
  margin-right: 20px;
} 
.footer-content-four{
  width: 20%;
}
.footer-content-four ul{
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer-content-four li{
  margin-right: 20px;
}

























.error{
  border: 2px solid hsl(0, 100%, 74%);
  background-image: url(./images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
}
.error-text{
  font-size: 12px;
  font-style: italic;
  margin: -15px 0 20px auto;
  color: hsl(0, 100%, 74%);

}
.success{
  border: 2px solid hsl(154, 59%, 51%);
}





@media (max-width: 576px){

   nav{
     width: 100%;
      background-color: white;
      padding: 5px;
   } 
   .nav-bar{
     margin: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
   .nav-bar img{
     width: 80px;
   }
   .nav-links{
     width: 50%;
      display: flex;
      justify-content:space-between;
   }
   .nav-links a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700px;
 }
 .nav-links .fa-bars{
   display: flex;
   margin-right: 20px;
   justify-content: space-evenly;
   align-items: center;
   cursor: pointer;
 }
 .show a{
   color:hsl(238, 22%, 44%);
   width: 100%;
   text-align: center;
 }
 .show a:hover{
   background-color: hsl(238, 22%, 44%);
   color: white;
 }
 .show{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   left: 0;
   right: 0;
   top: 70px;
   width: 100%;
   height: 100px;
   background-color: white;
 }
   main{
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
   }
   section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .learn{
    text-align: center;
    padding: 40px 0px 60px;
   }
   .learn p{
    font-size: 16px;
   }
   .learn p br{
    display: none;
   }
   form p{
    text-align: center;
   }
   .learn h1{
    font-size: 38px;
   }
   .head{
    padding: 15px 60px;
   }
   button{
    font-size: 13px;
   }



  


   .footer{
     background-color: hsl(243, 87%, 12%);
     width: 100%;
     padding-top: 60px;
     padding-bottom: 60px;
    }
    .footer-image{
     margin-left: 30px;
     margin-bottom: 20px;
    }
    .footer-content{
     margin-left: 30px;
     margin-right: 30px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
    }
    .footer-content ul{
     list-style-type: none;
     font-size: 14px;
     font-weight: 400;
     font-family: "Open Sans", sans-serif;
     color: white;
    }
    .footer-content li{
     margin-bottom: 20px;
    }
    .footer-content a{
     font-size: 14px;
     font-weight: 400;
     color: white;
     text-decoration: none;
     font-family: "Raleway", sans-serif;
    }
    .footer-content-one{
     margin-top: 20px;
     margin-bottom: 20px;
    }
    .footer-content-two{
     margin-bottom: 20px;
    }
    .footer-content-three{
     margin-bottom: 20px;
    }
   .footer-content-one img{
     margin-right: 20px;
   } 
   .footer-content-four{
     width: 100%;
     margin-top: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .footer-content-four ul{
     display: flex;
     justify-content: left;
     align-items: center;
   }
   .footer-content-four li{
     margin-right: 20px;
   }
}